@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}

body {
  font-family: "open sans", sans-serif;
  font-weight: 700;
  color: white;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-shadow: 1px 0 white, 0 1px white, 1px 1px white;
}
