nav {
  background-color: hsl(217, 28%, 15%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
nav img {
  height: 1.8rem;
}
nav ul {
  font-size: 0.8rem;
  list-style: none;
  display: flex;
  gap: 1.6rem;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}
nav a:hover {
  font-weight: 700;
  text-decoration: underline;
}
